a.problems {
  h3,  p {
    color: var(--main);
  }
  transition: .25s all;

  &:hover {
    text-decoration: none;
    color: var(--main);
    transition: .25s all;
  }

  section {
    background: rgba(0,0,0,.3);
  }
}