.top-setion {
  .video-wrapper {
    margin-top: 2em;
    transition-property: all;
    transition-duration: 275ms;
    transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);

    @media (max-width: 991px) {
      padding: 0;
    }
    
    &:hover {
      margin-bottom: 10px;
    }
    
    .video-play {
      cursor: pointer;
      display: block;
      position: relative;
      text-align: center;
      color: var(--main);
      font-weight: 200;
      text-decoration: none;
      border-radius: 2em;
      box-shadow: 0 25px 100px rgba(0, 0, 0, 0.75);
      z-index: 1;
      overflow: hidden;
      background: #000;
      margin-bottom: 10px;
      transition-property: all;
      transition-duration: 275ms;
      transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);

      .video-img {
        opacity: .5;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      }

      &:hover > .video-img {
        opacity: 1;
      }

      &:hover {
        @media (min-width: 991px) {
          margin-top: -10px;
          box-shadow: 0 45px 100px rgba(0, 0, 0, 0.75);
        }
      }

      .play {
        position: absolute;
        color: var(--main);
        font-size: 2.5em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
          font-size: 1.75em;
        }

        img {
          display: block;
          margin: 0 auto .5em auto;
          width: 1.5em;
          height: 1.5em;
          transition-property: all;
          transition-duration: 275ms;
          transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);

          @media screen and (max-width: 54em) {
            transform: none;
          }
        }      
      }
    }
  }
}