#access-anywhere {
  padding: 2rem 0 0 0;
}
@media (min-width: 991px) {
  #access-anywhere {
    padding: 6rem 0 0 0;
  }
}

#access-anywhere-menubar {
  background: rgba(50, 145, 224, 0.1) url("img/features-menubar.png") no-repeat
    top right;
  min-height: 500px;
}
@media (max-width: 991px) {
  #access-anywhere-menubar {
    background: rgba(50, 145, 224, 0.1) url("img/features-menubar.png")
      no-repeat top right -7px;
  }
}
@media (max-width: 767px) {
  #access-anywhere-menubar .col-md-7 {
    padding-top: 400px;
  }
}
