.feature {
  a, a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 0.15em;
  }
  
  .section-header {
    text-align: center;
    width: 80%;
    margin: 0 auto 3.5rem;
    @media (max-width: 991px) {
        margin: 0 auto 1rem;
        width: 100%;
    }
  
    p {
      font-weight: 200;
      font-size: 1.6em;
      line-height: 1.5;
      margin: 0 1em 1em 1em;
    }
  
    > h1::before {
      content: "";
      display: block;
      width: 3.75rem;
      height: 3.75rem;
      margin: 0 auto 1.5625rem;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: cover !important;
    }
  }
  



  p {
    font-size: 1em;
    font-weight: 500;
    color: rgba(55, 61, 72, 0.8) !important;
  }
  h1 {
    padding: 0;
    margin: 0 0 3rem 0;
    @media (max-width: 991px) {
      margin: 0 0 1rem 0;
    }
  }
  h3 {
    font-size: 1.75em;
    font-weight: 400;
    text-align: center;
    
    &:before {
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      margin: 0 auto 1.5625rem;
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    &.no-icon:before {
      content: "";
      display: none !important;
    }
  }
  
  li {
    font-size: 1em;
    font-weight: 400;
    color: rgba(55, 61, 72, 0.8);
    line-height: 1.5;
  }
}

#retina-graphics .section-header > h1::before {
  background: url(/feature/retina-graphics_icon_alt.svg);
}

#access-anywhere .section-header > h1::before {
  background: url(/feature/access-anywhere_icon_alt.svg);
}

#authentication .section-header > h1::before {
  background: url(/feature/authentication_icon_alt.svg);
}

#unlock-options .section-header > h1::before {
  background: url(/feature/unlock-options_icon_alt.svg);
}

#lock-settings .section-header > h1::before {
  background: url(/feature/lock-settings_icon_alt.svg);
}

#bluetooth-le .section-header > h1::before {
  background: url(/feature/bluetooth-le_icon_alt.svg);
}

#apple-watch .section-header > h1::before {
  background: url(/feature/apple-watch_icon_alt.svg);
}

#mac-control .section-header > h1::before {
  background: url(/feature/mac-control_icon_alt.svg);
}

#wifi-unlock .section-header > h1::before {
  background: url(/feature/wifi_unlock_icon_alt.svg);
}

#languages .section-header > h1::before {
  background: url(/feature/languages_icon_alt.svg);
}

#security .section-header > h1::before {
  background: url(/feature/security_icon_alt.svg);
}

#music .section-header > h1::before {
  background: url(/feature/music_icon_alt.svg);
}

#ping .section-header > h1::before {
  background: url(/feature/ping_icon_alt.svg);
}

#access-anywhere .three-d-touch > h3::before {
  background: url(/feature/3d_touch_icon_sub.svg);
}

#access-anywhere .notification_center_icon > h3::before {
  background: url(/feature/notification_center_icon.svg);
}

#access-anywhere .interactive_notifications_icon > h3::before {
  background: url(/feature/interactive_notifications_icon.svg);
}

#security .private_informations_icon > h3::before {
  background: url(/feature/private_informations_icon.svg);
}

#security .encryption_icon > h3::before {
  background: url(/feature/encryption_icon.svg);
}

#mac-control .failed-login-attempts_icon > h3::before {
  background: url(/feature/failed_login_attempts_icon.svg);
}

#mac-control .failed-login-attempts_icon.login-photos_icon > h3 {
  margin-top: 100px;
}

#mac-control .failed-login-attempts_icon > h3::before,
#mac-control .login-photos_icon > h3::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -100px;
}

#mac-control .failed-login-attempts_icon > h3::before {
  margin-left: 5px;
}

#mac-control .login-photos_icon > h3::after {
  margin-left: -85px;
}

#mac-control .login-photos_icon > h3::after {
  background: url(/feature/login_photo_icon.svg);
}

#mac-control .lock-unlock-history_icon > h3::before {
  background: url(/feature/lock_unlock_history_icon.svg);
}

#unlock-options .interactive_notifications_icon > h3::before {
  background: url(/feature/interactive_notifications_icon.svg);
}

#unlock-options .double_knock_icon > h3::before {
  background: url(/feature/double_knock_icon.svg);
}

#unlock-options .touch-id_icon > h3::before {
  background: url(/feature/touch-id_icon.svg);
}

#unlock-options .unlock_approach_icon > h3::before {
  background: url(/feature/unlock_approach_icon.svg);
}

#unlock-options .wifi_unlock_icon > h3::before {
  background: url(/feature/wifi_unlock_icon.svg);
}

#unlock-options .mac_wake_unlock_icon > h3::before {
  background: url(/feature/mac_wake_unlock_icon.svg);
}

#lock-settings .sleep_icon > h3::before {
  background: url(/feature/sleep_icon.svg);
}

#lock-settings .screensaver_icon > h3::before {
  background: url(/feature/screensaver_icon.svg);
}
