.feature {
  a, a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 0.15em;
  }
  
  h4 {
    &:before {
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      margin: 0 auto 1.5625rem;
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    &.no-icon:before {
      content: "";
      display: none !important;
    }
  }
  
  // p {
  //   color: rgba(55, 61, 72, 0.8) !important;
  // }

  // li {
  //   color: rgba(55, 61, 72, 0.8);
  // }
}


#access-anywhere .three-d-touch > h4::before {
  background: url(/feature/3d_touch_icon_sub.svg);
}

#access-anywhere .notification_center_icon > h4::before {
  background: url(/feature/notification_center_icon.svg);
}

#access-anywhere .interactive_notifications_icon > h4::before {
  background: url(/feature/interactive_notifications_icon.svg);
}

#security .private_informations_icon > h4::before {
  background: url(/feature/private_informations_icon.svg);
}

#security .encryption_icon > h4::before {
  background: url(/feature/encryption_icon.svg);
}

#mac-control .failed-login-attempts_icon > h4::before {
  background: url(/feature/failed_login_attempts_icon.svg);
}

#mac-control .failed-login-attempts_icon.login-photos_icon > h4 {
  margin-top: 100px;
}

#mac-control .failed-login-attempts_icon > h4:before,
#mac-control .login-photos_icon > h4:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -100px;
}

#mac-control .failed-login-attempts_icon > h4:before {
  margin-left: 5px;
}

#mac-control .login-photos_icon > h4:after {
  margin-left: -85px;
}

#mac-control .login-photos_icon > h4:after {
  background: url(/feature/login_photo_icon.svg);
}

#mac-control .lock-unlock-history_icon > h4:before {
  background: url(/feature/lock_unlock_history_icon.svg);
}

#mac-unlock-confirmation .interactive_notifications_icon > h4:before {
  background: url(/feature/interactive_notifications_icon.svg);
}

#mac-unlock-confirmation .double_knock_icon > h4:before {
  background: url(/feature/double_knock_icon.svg);
}

#mac-unlock-confirmation .touch-id_icon > h4:before {
  background: url(/feature/touch-id_icon.svg);
}

#unlock-options .unlock_approach_icon > h4:before {
  background: url(/feature/unlock_approach_icon.svg);
}

#unlock-options .wifi_unlock_icon > h4:before {
  background: url(/feature/wifi_unlock_icon.svg);
}

#unlock-options .mac_wake_unlock_icon > h4:before {
  background: url(/feature/mac_wake_unlock_icon.svg);
}

#lock-settings .sleep_icon > h4:before {
  background: url(/feature/sleep_icon.svg);
}

#lock-settings .screensaver_icon > h4:before {
  background: url(/feature/screensaver_icon.svg);
}

#mac-control .mac-control-thumbnails img {
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  
  @media (min-width: 991px) {
    box-shadow: 0 40px 200px rgba(0, 0, 0, 0.5);
  }
}

#music {
  position: relative;
  background: url(/feature/music-background.png) center bottom -100px no-repeat;
  background-size: 100%;
}
@media (max-width: 1200px) {
  #music {
    background: url(/feature/music-background.png) center bottom -50px no-repeat;
    background-size: 100%;
  }
}
@media (max-width: 767px) {
  #music {
    background: url(/feature/music-background.png) left 40% bottom 0px no-repeat;
    background-size: 500%;
  }
}

#music .play_icon > h4::before {
  background: url(/feature/play_icon.svg);
}

#music .pause_icon > h4::before {
  background: url(/feature/pause_icon.svg);
}

#music .supported-players-title {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  #music .supported-players-title {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

#music .dock {
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.25);
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  min-width: 240px;
  border-radius: 7px 7px 0 0;
  left: 50%;
  bottom: 0px;
  padding: 0 10px;
}

#music .dock .dock-item {
  display: inline-block;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin: 10px 2px 5px 2px;

  img {
    border: none;
    width: 100%;
  }
}

#apple-watch {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 340px;
}
@media (max-width: 991px) {
  #apple-watch {
    padding-bottom: 250px;
  }
}
#apple-watch .btn {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid #c6c6c6;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.1;
  transition: 0.5s all;
}
#apple-watch .btn:hover {
  background: #c6c6c6;
}
#apple-watch .apple-watch {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  #apple-watch .apple-watch {
    transform: scale(0.75) translate(-67%, 24px);
  }
}
#apple-watch .apple-watch-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#apple-watch .apple-watch .screen-wrapper {
  position: relative;
  height: 154px;
  width: 190px;
  bottom: 105px;
  perspective: 150px;
}
#apple-watch .apple-watch .screen-wrapper .screen {
  width: 190px;
  height: 130px;
  position: absolute;
  transform: rotateX(14deg);
  overflow: hidden;
  cursor: grab;
}
#apple-watch .apple-watch .screen-wrapper .screen:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5) inset;
  pointer-events: none;
}
#apple-watch .apple-watch .screen-wrapper .screen img {
  display: inline-block;
  width: 190px;
  height: 130px;
}

.feature_menubar__main_image,
.feature_menubar__main_image.active,
.feature_menubar_zoomed,
.feature_menubar_zoomed.active,
.feature_clipboard_ios__main_image,
.feature_clipboard_ios__main_image.active,
.feature_clipboard_ios__zoomed,
.feature_clipboard_ios__zoomed.active {
  transition: all 1s;
}

#clipboard {
  position: relative;
  padding: 0;
  overflow: hidden;
}
#clipboard .feature_menubar {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  min-height: 310px;
}
@media (max-width: 991px) {
  #clipboard .feature_menubar {
    top: -30px;
    transform: scale(0.6);
    min-height: 170px;
  }
}
#clipboard .feature_menubar__content {
  text-align: right;
}
#clipboard .feature_menubar__content h3 {
  margin-right: 15px;
}
@media (min-width: 991px) {
  #clipboard .feature_menubar__content h3 {
    text-align: right;
  }
}
@media (max-width: 991px) {
  #clipboard .feature_menubar__content {
    text-align: center;
  }
}
#clipboard .feature_menubar__main_image {
  position: absolute;
  top: -550px;
  transform: translateX(-50%) scale(0.75);
  left: 50%;
}
#clipboard .feature_menubar__main_image.active {
  transform: translateX(-50%) scale(0.73);
  filter: blur(5px) brightness(0.75);
}
#clipboard .feature_menubar_zoomed {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(135deg, #34b2ae, #35c591);
  background-image: -o-linear-gradient(135deg, #34b2ae, #35c591);
  background-image: linear-gradient(135deg, #34b2ae, #35c591);
  position: absolute;
  top: 85px;
  width: 412px;
  height: 75px;
  border-radius: 5px;
  padding: 10px 28px;
  left: 50%;
  transform: translateX(-50%);
}
#clipboard .feature_menubar_zoomed.active {
  -webkit-transform: translateX(-50%) scale(1.2);
  -webkit-filter: drop-shadow(0 40px 30px rgba(0, 0, 0, 0.5));
}
#clipboard .feature_menubar_zoomed label {
  position: absolute;
  top: 28px;
  left: 83px;
}
#clipboard .feature_menubar_zoomed__right_icon {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 92px;
  height: 37px;
  background: url("/feature/copy_right.svg") no-repeat center -41px;
  background-size: 217px;
}
#clipboard .feature_menubar_zoomed__left_icon {
  position: absolute;
  height: 38px;
  width: 38px;
  top: 18px;
  left: 28px;
  background: url("/feature/copy_left.svg") no-repeat -72px -41px;
  background-size: 182px;
}
#clipboard .feature_clipboard_ios {
  position: relative;
  height: 360px;
}
@media (max-width: 991px) {
  #clipboard .feature_clipboard_ios {
    bottom: -30px;
    transform: scale(0.6);
    height: 250px;
  }
}
#clipboard .feature_clipboard_ios__content h3 {
  margin-left: 15px;
}
@media (min-width: 991px) {
  #clipboard .feature_clipboard_ios__content h3 {
    text-align: left;
  }
}
@media (max-width: 991px) {
  #clipboard .feature_clipboard_ios__content {
    text-align: center;
  }
}
#clipboard .feature_clipboard_ios__main_image {
  position: absolute;
  bottom: -144px;
  left: 50%;
  transform: translateX(-50%);
}
#clipboard .feature_clipboard_ios__main_image.active {
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  filter: blur(5px) brightness(0.75);
}
#clipboard .feature_clipboard_ios__zoomed {
  background: -webkit-linear-gradient(
    177deg,
    #dae0db 0%,
    #e7f4ea 22%,
    #e3ebe3 70%,
    #b8cdc1 100%
  );
  background: -o-linear-gradient(
    177deg,
    #dae0db 0%,
    #e7f4ea 22%,
    #e3ebe3 70%,
    #b8cdc1 100%
  );
  background: linear-gradient(
    177deg,
    #dae0db 0%,
    #e7f4ea 22%,
    #e3ebe3 70%,
    #b8cdc1 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDAE0DB', endColorstr='#FFB8CDC1', GradientType=1);
  position: absolute;
  bottom: 80px;
  left: calc(50% + 84px);
  transform: translateX(-50%);
  width: 180px;
  height: 135px;
  padding: 0 8px;
  border-radius: 5px;
}
#clipboard .feature_clipboard_ios__zoomed__left_icon {
  background: #bfd9b1 url("/feature/copy-to-mac-icon.svg") no-repeat center;
  background-size: 114px;
}
#clipboard .feature_clipboard_ios__zoomed__right_icon {
  background: #bfd9b1 url("/feature/copy-from-mac-icon.svg") no-repeat center;
  background-size: 114px;
}
#clipboard .feature_clipboard_ios__zoomed__left,
#clipboard .feature_clipboard_ios__zoomed__right {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  padding: 0 8px;
}
#clipboard .feature_clipboard_ios__zoomed__left_icon,
#clipboard .feature_clipboard_ios__zoomed__right_icon {
  margin: 18px auto 10px auto;
  height: 57px;
  width: 57px;
  border-radius: 999em;
}
#clipboard .feature_clipboard_ios__zoomed__left label,
#clipboard .feature_clipboard_ios__zoomed__right label {
  font-size: 14px;
  font-weight: bold;
}
#clipboard .feature_clipboard_ios__zoomed.active {
  left: calc(50% + 84px);
  -webkit-transform: translateX(-50%) scale(1.2);
  -webkit-filter: drop-shadow(0 40px 30px rgba(0, 0, 0, 0.5));
}
#clipboard
  .feature_clipboard_ios__zoomed.active
  .feature_clipboard_ios__zoomed__left_icon,
#clipboard
  .feature_clipboard_ios__zoomed.active
  .feature_clipboard_ios__zoomed__right_icon {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.87, 0.58, 0.25, 1.29);
  transform-origin: center center;
  animation-name: slam;
}
#clipboard
  .feature_clipboard_ios__zoomed.active
  .feature_clipboard_ios__zoomed__left_icon {
  animation-delay: 0.25s;
}
#clipboard
  .feature_clipboard_ios__zoomed.active
  .feature_clipboard_ios__zoomed__right_icon {
  animation-delay: 0.5s;
}

@keyframes slam {
  0% {
    transform: rotate3d(0, 0, 0, 0deg) scale3d(0, 0, 0) translate3d(0, 0, 0);
    box-shadow: none;
  }
  18% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(2, 2, 2)
      translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  28% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
  }
  50% {
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1)
      translate3d(-1px, -1px, 0);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.25);
  }
  65% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    box-shadow: 0px 0px 125px 5px transparent;
  }
}

#authentication .password-prompt-wrapper {
  width: 100%;
  overflow: hidden;
}

#authentication .password-prompt {
  margin: 0 auto;
  background: url("/feature/password-prompt.png") center center no-repeat;
  width: 555px;
  height: 326px;
  position: relative;
}
@media (max-width: 991px) {
  #authentication .password-prompt {
    height: 270px;
    transform: translateX(-50%) scale(0.8);
    left: 50%;
  }
}
#authentication .password-prompt .prompt {
  position: absolute;
  top: 163px;
  left: 235px;
  width: 1px;
  height: 17px;
  background: #000;
  opacity: 0;
}
@media (max-width: 991px) {
  #authentication .password-prompt .prompt {
    top: 135px;
  }
}
#authentication .password-prompt .prompt.active {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 1.25s;
  -webkit-animation-name: prompt;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 1.25s;
  -moz-animation-name: prompt;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0;
  -o-animation-duration: 1.25s;
  -o-animation-name: prompt;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 1.25s;
  animation-name: prompt;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
}

@-webkit-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#authentication .password-prompt .asterisks {
  position: absolute;
  top: 169px;
  left: 236px;
}
@media (max-width: 991px) {
  #authentication .password-prompt .asterisks {
    top: 141px;
  }
}
#authentication .password-prompt .asterisks.active .asterisk {
  opacity: 1;
}
#authentication .password-prompt .asterisks .asterisk {
  display: inline-block;
  float: left;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 999em;
  margin-right: 2px;
  opacity: 0;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(1) {
  transition: all 0s 0.025s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(2) {
  transition: all 0s 0.05s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(3) {
  transition: all 0s 0.075s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(4) {
  transition: all 0s 0.1s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(5) {
  transition: all 0s 0.125s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(6) {
  transition: all 0s 0.15s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(7) {
  transition: all 0s 0.175s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(8) {
  transition: all 0s 0.2s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(9) {
  transition: all 0s 0.225s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(10) {
  transition: all 0s 0.25s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(11) {
  transition: all 0s 0.275s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(12) {
  transition: all 0s 0.3s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(13) {
  transition: all 0s 0.325s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk:nth-child(14) {
  transition: all 0s 0.35s ease-in-out;
}
#authentication .password-prompt .asterisks .asterisk.active {
  opacity: 1;
}

#mac-menu-bar {
  background: rgba(50, 145, 224, 0.1) url("/feature/features-menubar.png") no-repeat top right;
  min-height: 500px;
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    background: rgba(50, 145, 224, 0.1) url("/feature/features-menubar.png")
    no-repeat top right -7px;
  }

  @media (max-width: 767px) {
    padding-top: 400px;
  }
}

#localizations {
  text-align: center;
  
  .flags {
    margin: 2em auto 3em auto;

    img {
      padding: 0;
      margin: 0 2px;
      width: 48px;
      border-radius: 999em;
      overflow: hidden;
      filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.4));
      
      @media (max-width: 991px) {
        width: 40px;
      }  
    }
  }
}
