.feature {
  a, a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 0.15em;
  }
  
  // h4 {
  //   &:before {
  //     content: "";
  //     display: block;
  //     width: 5rem;
  //     height: 5rem;
  //     margin: 0 auto 1.5625rem auto;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //   }
    
  //   &.no-icon:before {
  //     content: "";
  //     display: none !important;
  //   }
  // }

  &-icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 1.5625rem auto;
  }
  
  // p {
  //   color: rgba(55, 61, 72, 0.8) !important;
  // }

  // li {
  //   color: rgba(55, 61, 72, 0.8);
  // }
}

#mac-control .mac-control-thumbnails img {
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
  
  @media (min-width: 991px) {
    box-shadow: 0 40px 200px rgba(0, 0, 0, 0.5);
  }
}

#music {
  position: relative;
  background: url(/feature/music-background.png) center bottom -100px no-repeat;
  background-size: 100%;

  @media (max-width: 1200px) {
    background: url(/feature/music-background.png) center bottom -50px no-repeat;
    background-size: 100%;
  }

  @media (max-width: 767px) {
    background: url(/feature/music-background.png) left 40% bottom 0px no-repeat;
    background-size: 500%;
  }

  .supported-players-title {
    padding-top: 100px;
    padding-bottom: 50px;
  
    @media (max-width: 991px) {
      padding-top: 30px;
      padding-bottom: 100px;
    }
  }
  
  .dock {
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.25);
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    min-width: 240px;
    border-radius: 7px 7px 0 0;
    left: 50%;
    bottom: 0px;
    padding: 0 10px;

    .dock-item {
      display: inline-block;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border: none;
      margin: 10px 2px 5px 2px;
    
      img {
        border: none;
        width: 100%;
      }
    }
  }
}

#apple-watch {
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 340px;

  @media (max-width: 991px) {
    padding-bottom: 250px;
  }

  .btn {
    display: inline-block;
    border-radius: 8px;
    border: 2px solid #c6c6c6;
    padding: 12px 30px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.1;
    transition: 0.5s all;

    &:hover {
      background: #c6c6c6;
    }
  }
  
  .apple-watch {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  
    @media (max-width: 991px) {
      transform: scale(0.75) translate(-67%, 24px);
    }
  }

  .apple-watch-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .apple-watch .screen-wrapper {
    position: relative;
    height: 154px;
    width: 190px;
    bottom: 105px;
    perspective: 150px;
  
    .screen {
      width: 190px;
      height: 130px;
      position: absolute;
      transform: rotateX(14deg);
      overflow: hidden;
      cursor: grab;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5) inset;
        pointer-events: none;
      }

      img {
        display: inline-block;
        width: 190px;
        height: 130px;
      }
    }
  }
}

.feature_menubar__main_image,
.feature_menubar__main_image.active,
.feature_menubar_zoomed,
.feature_menubar_zoomed.active,
.feature_clipboard_ios__main_image,
.feature_clipboard_ios__main_image.active,
.feature_clipboard_ios__zoomed,
.feature_clipboard_ios__zoomed.active {
  transition: all 1s;
}

#clipboard {
  position: relative;
  padding: 0;
  overflow: hidden;

  .feature_menubar {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    min-height: 310px;

    @media (max-width: 991px) {
      top: -30px;
      transform: scale(0.6);
      min-height: 170px;
    }

    &__content {
      text-align: right;

      @media (max-width: 991px) {
        text-align: center;
      }

      h3 {
        margin-right: 15px;

        @media (min-width: 991px) {
          text-align: right;
        }
      }
    }

    &__main_image {
      position: absolute;
      top: -550px;
      transform: translateX(-50%) scale(0.75);
      left: 50%;

      &.active {
        transform: translateX(-50%) scale(0.73);
        filter: blur(5px) brightness(0.75);
      }
    }

    &_zoomed {
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient(135deg, #34b2ae, #35c591);
      background-image: -o-linear-gradient(135deg, #34b2ae, #35c591);
      background-image: linear-gradient(135deg, #34b2ae, #35c591);
      position: absolute;
      top: 85px;
      width: 412px;
      height: 75px;
      border-radius: 5px;
      padding: 10px 28px;
      left: 50%;
      transform: translateX(-50%);

      &.active {
        transform: translateX(-50%) scale(1.2);
        filter: drop-shadow(0 40px 30px rgba(0, 0, 0, 0.5));
      }

      label {
        position: absolute;
        top: 28px;
        left: 83px;
      }

      &__right_icon {
        position: absolute;
        right: 30px;
        top: 20px;
        width: 92px;
        height: 37px;
        background: url("/feature/copy_right.svg") no-repeat center -41px;
        background-size: 217px;
      }

      &__left_icon {
        position: absolute;
        height: 38px;
        width: 38px;
        top: 18px;
        left: 28px;
        background: url("/feature/copy_left.svg") no-repeat -72px -41px;
        background-size: 182px;
      }  
    }
  }

  .feature_clipboard_ios {
    position: relative;
    height: 360px;

    @media (max-width: 991px) {
      bottom: -30px;
      transform: scale(0.6);
      height: 250px;
    }

    &__content {
      @media (max-width: 991px) {
        text-align: center;
      }

      h3 {
        margin-left: 15px;

        @media (min-width: 991px) {
          text-align: left;
        }
      }
    }

    &__main_image {
      position: absolute;
      bottom: -144px;
      left: 50%;
      transform: translateX(-50%);

      &.active {
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        filter: blur(5px) brightness(0.75);
      }
    }

    &__zoomed {
      background: -webkit-linear-gradient(
        177deg,
        #dae0db 0%,
        #e7f4ea 22%,
        #e3ebe3 70%,
        #b8cdc1 100%
      );
      background: -o-linear-gradient(
        177deg,
        #dae0db 0%,
        #e7f4ea 22%,
        #e3ebe3 70%,
        #b8cdc1 100%
      );
      background: linear-gradient(
        177deg,
        #dae0db 0%,
        #e7f4ea 22%,
        #e3ebe3 70%,
        #b8cdc1 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDAE0DB', endColorstr='#FFB8CDC1', GradientType=1);
      position: absolute;
      bottom: 80px;
      left: calc(50% + 84px);
      transform: translateX(-50%);
      width: 180px;
      height: 135px;
      padding: 0 8px;
      border-radius: 5px;

      &__left_icon {
        background: #bfd9b1 url("/feature/copy-to-mac-icon.svg") no-repeat center;
        background-size: 114px;
      }

      &__right_icon {
        background: #bfd9b1 url("/feature/copy-from-mac-icon.svg") no-repeat center;
        background-size: 114px;
      }

      &__left,
      &__right {
        display: inline-block;
        width: 50%;
        float: left;
        text-align: center;
        padding: 0 8px;
      }

      &__left_icon,
      &__right_icon {
        margin: 18px auto 10px auto;
        height: 57px;
        width: 57px;
        border-radius: 999em;
      }
      
      &__left label,
      &__right label {
        font-size: 14px;
        font-weight: bold;
      }

      &.active {
        left: calc(50% + 84px);
        -webkit-transform: translateX(-50%) scale(1.2);
        -webkit-filter: drop-shadow(0 40px 30px rgba(0, 0, 0, 0.5));
      }

      &.active .feature_clipboard_ios__zoomed__left_icon,
      &.active .feature_clipboard_ios__zoomed__right_icon {
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.87, 0.58, 0.25, 1.29);
        transform-origin: center center;
        animation-name: slam;
      }

      &.active .feature_clipboard_ios__zoomed__left_icon {
        animation-delay: 0.25s;
      }

      &.active .feature_clipboard_ios__zoomed__right_icon {
        animation-delay: 0.5s;
      }
    }
  }
}

@keyframes slam {
  0% {
    transform: rotate3d(0, 0, 0, 0deg) scale3d(0, 0, 0) translate3d(0, 0, 0);
    box-shadow: none;
  }
  18% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(2, 2, 2)
      translate3d(-50px, -10px, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  28% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
  }
  50% {
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1)
      translate3d(-1px, -1px, 0);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.25);
  }
  65% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    box-shadow: 0px 0px 125px 5px transparent;
  }
}


@-webkit-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes prompt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#authentication {
  .password-prompt {
    margin: 0 auto;
    background: url("/feature/password-prompt.png") center center no-repeat;
    width: 555px;
    height: 326px;
    position: relative;

    @media (max-width: 991px) {
      height: 270px;
      transform: translateX(-50%) scale(0.8);
      left: 50%;
    }
    
    &-wrapper {
      width: 100%;
      overflow: hidden;
    }
    .prompt {
      position: absolute;
      top: 163px;
      left: 235px;
      width: 1px;
      height: 17px;
      background: #000;
      opacity: 0;

      @media (max-width: 991px) {
        top: 135px;
      }

      &.active {
        -webkit-animation-delay: 0;
        -webkit-animation-duration: 1.25s;
        -webkit-animation-name: prompt;
        -webkit-animation-fill-mode: forwards;
        /* this prevents the animation from restarting! */
        -moz-animation-delay: 0;
        -moz-animation-duration: 1.25s;
        -moz-animation-name: prompt;
        -moz-animation-fill-mode: forwards;
        /* this prevents the animation from restarting! */
        -o-animation-delay: 0;
        -o-animation-duration: 1.25s;
        -o-animation-name: prompt;
        -o-animation-fill-mode: forwards;
        /* this prevents the animation from restarting! */
        animation-delay: 0;
        animation-duration: 1.25s;
        animation-name: prompt;
        animation-fill-mode: forwards;
        /* this prevents the animation from restarting! */
        animation-iteration-count: 1;
      }
    }  

    .asterisks {
      position: absolute;
      top: 169px;
      left: 236px;

      @media (max-width: 991px) {
        top: 141px;
      }
      
      &.active .asterisk {
        opacity: 1;
      }
      
      .asterisk {
        display: inline-block;
        float: left;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 999em;
        margin-right: 2px;
        opacity: 0;

        &:nth-child(1) {
          transition: all 0s 0.025s ease-in-out;
        }

        &:nth-child(2) {
          transition: all 0s 0.05s ease-in-out;
        }

        &:nth-child(3) {
          transition: all 0s 0.075s ease-in-out;
        }
        
        &:nth-child(4) {
          transition: all 0s 0.1s ease-in-out;
        }
        
        &:nth-child(5) {
          transition: all 0s 0.125s ease-in-out;
        }
        
        &:nth-child(6) {
          transition: all 0s 0.15s ease-in-out;
        }
        
        &:nth-child(7) {
          transition: all 0s 0.175s ease-in-out;
        }
        
        &:nth-child(8) {
          transition: all 0s 0.2s ease-in-out;
        }
        
        &:nth-child(9) {
          transition: all 0s 0.225s ease-in-out;
        }
        
        &:nth-child(10) {
          transition: all 0s 0.25s ease-in-out;
        }
        
        &:nth-child(11) {
          transition: all 0s 0.275s ease-in-out;
        }
        
        &:nth-child(12) {
          transition: all 0s 0.3s ease-in-out;
        }
        
        &:nth-child(13) {
          transition: all 0s 0.325s ease-in-out;
        }
        
        &:nth-child(14) {
          transition: all 0s 0.35s ease-in-out;
        }
        
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

#mac-menu-bar {
  background: rgba(50, 145, 224, 0.1) url("/feature/features-menubar.png") no-repeat top right;
  min-height: 500px;
  display: flex;
  align-items: center;

  @media (max-width: 991px) {
    background: rgba(50, 145, 224, 0.1) url("/feature/features-menubar.png")
    no-repeat top right -7px;
  }

  @media (max-width: 767px) {
    padding-top: 400px;
  }
}

#localizations {
  text-align: center;
  
  .flags {
    margin: 2em auto 3em auto;

    img {
      padding: 0;
      margin: 0 2px;
      width: 48px;
      border-radius: 999em;
      overflow: hidden;
      filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.4));
      
      @media (max-width: 991px) {
        width: 40px;
      }  
    }
  }
}
