.newsletter {
  input[type="email"] {
    padding: 7px 14px;
    appearance: none;
    background-color: #fff;
    border: 2px solid rgba(14,30,37,.09);
    border-radius: 4px;
    font-size: 1em;
    min-width: 250px;
    transition: .25s all;

    &:focus {
      outline: none;
      border: 2px solid #38aed4;
      transition: .25s all;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  input[type="submit"] {
    display: inline-block;
    padding: 7px 14px;
    border-radius: 4px;
    margin: 0 auto 0 10px;
    appearance: none;
    border: 2px solid #33A2C6;
    background: #33A2C6;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    transition: .2s all ease-in-out;

    &:hover {
      background: #38aed4;
      border-color: #38aed4;
      transition: .2s all ease-in-out;
    }

    @media (max-width: 400px) {
      width: 100%;
      margin: 10px auto 0 auto;
    }
  }
}
