@import "colors.scss";

body {
  background: var(--main);
  color: var(--second);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  color: var(--main)
}

.feature {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    color: var(--second);
  }
}

p {
  color: var(--second)
}

.colored {
  background-image: linear-gradient(-45deg, var(--NlGreen), var(--NlBlue));
  color: var(--main);

  h1, h2, h3, h4, h5, h6, p {
    color: var(--main)
  }
  

  a {
    color: var(--main);
    text-decoration: none;
  }

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.pressVideoCode {
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(50, 145, 224, .4);
  }

  &:focus:not(:focus-visible) {
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
  }
}
  
mark {
  background: #eee;
  border-radius: 5px;
  padding: 5px 7px;
}

.odd-section {
  background: var(--darkerMain);
}