.featureHeaderSlider {
  &__item {
    color: rgba(255,255,255,.75);
    transition: .25s all;

    &:hover {
      color: var(--main);
      text-decoration: none;
      transition: .25s all;
    }

    img {
      width: 90px;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
