.featureHeaderSlider {
  &__icon {
    svg {
      width: 90px;
      height: 90px;
      margin-bottom: 10px;
    }
    
    path {
      fill: var(--main);
    }
  }

  &__item {
    color: rgba(255,255,255,.75);
    transition: .25s all;

    &:hover {
      color: var(--main);
      text-decoration: none;
      transition: .25s all;
    }
  }
}
