.logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.bg-light, .bg-transparent {
  transition: .5s all;
}

.bg-light {
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.5);

  #inside {
    fill: #fff;
  }

  #outside {
    fill: url(#SVGID_2_);
  }

  .navbar-toggler {
    &-icon {
      border-bottom: 2px solid #3291e0;

      &:after,
      &:before{
        content: '';
        background-color: #3291e0;
      }
    }
  }
}

.bg-transparent {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  
  #inside {
    fill: url(#SVGID_2_);
  }

  #outside {
    fill: #fff;
  }

  .nav-item a.nav-link {
    color: rgba(255,255,255,.75);

    &.active {
    color: #fff;
    }
  }
}

.navbar {
  &-toggler {
    border: none;
    padding-right: 10px;

    &:active,
    &:focus {
      outline: none;
    }

    &-icon {
      width: 21px;
      height: 14px;
      background-image: none !important;
      position: relative;
      transition: all 300ms linear;
      border-bottom: 2px solid #ffffff;
    }
  
    &-icon:after,
    &-icon:before{
      content: '';
      width: 21px;
      position: absolute;
      height: 2px;
      background-color: #ffffff;
      top: 0;
      left: 0;
      z-index: 2;
      transition: all 300ms linear;
    }
  
    &-icon:after{
      top: 6px;
    }
  
    &[aria-expanded="true"] .navbar-toggler-icon:after {
      transform: rotate(45deg);
    }
  
    &[aria-expanded="true"] .navbar-toggler-icon:before {
      transform: translateY(6px) rotate(-45deg);
    }
  
    &[aria-expanded="true"] .navbar-toggler-icon {
      border-color: transparent;
    }
  }
}