.under-construction {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(-45deg,  rgba(50,145,224,1) 25%, rgba(53,214,120,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(25%,rgba(50,145,224,1)), color-stop(100%,rgba(53,214,120,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(50,145,224,1) 25%,rgba(53,214,120,1) 100%);
  background: -o-linear-gradient(-45deg,  rgba(50,145,224,1) 25%,rgba(53,214,120,1) 100%);
  background: -ms-linear-gradient(-45deg,  rgba(50,145,224,1) 25%,rgba(53,214,120,1) 100%);
  background: linear-gradient(135deg,  rgba(50,145,224,1) 25%,rgba(53,214,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3291e0', endColorstr='#0035d678',GradientType=1 );
  overflow: hidden;

  .perspective {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:rotateX(60deg) rotateZ(-50deg);
       -moz-transform:rotateX(60deg) rotateZ(-50deg);
        -ms-transform:rotateX(60deg) rotateZ(-50deg);
         -o-transform:rotateX(60deg) rotateZ(-50deg);
            transform:rotateX(60deg) rotateZ(-50deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
            transform-style:preserve-3d;
  
    .circle {
      position: absolute;
      height: 20em;
      width: 20em;
      left: 50%;
      top: 50%;
      margin: -10em 0 0 -10em;
      border-radius: 50%;
      opacity: 0;
      background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 10%, rgba(255,255,255,0.2) 40%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,1)));
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,1) 100%);
      background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,1) 100%);
      background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 10%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
      -webkit-animation:back 4s ease-out infinite;
         -moz-animation:back 4s ease-out infinite;
          -ms-animation:back 4s ease-out infinite;
           -o-animation:back 4s ease-out infinite;
              animation:back 4s ease-out infinite;
    }
  }
  
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16em;
    height: 16em;
    background: url("/nearlock_icon_256.png") var(--main) center no-repeat;
    background-size: cover;
    margin: -10em 0 0 -8em;
    z-index: 3;
    border-radius: 4em;
    box-shadow:
    -1px 1px 0px 0px rgba(200,200,200,1),
    -2px 2px 0px 0px rgba(200,200,200,1),
    -3px 3px 0px 0px rgba(190,190,190,1),
    -4px 4px 0px 0px rgba(190,190,190,1),
    -5px 5px 0px 0px rgba(180,180,180,1),
    -6px 6px 0px 0px rgba(180,180,180,1),
    -7px 7px 0px 0px rgba(170,170,170,1),
    -8px 8px 0px 0px rgba(170,170,170,1),
    -9px 9px 0px 0px rgba(160,160,160,1),
    -10px 10px 0px 0px rgba(150,150,150,1),
    -11px 11px 0px 0px rgba(150,150,150,1),
    -12px 12px 0px 0px rgba(140,140,140,1),
    -13px 13px 0px 0px rgba(140,140,140,1),
    -14px 14px 0px 0px rgba(130,130,130,1),
    -15px 15px 0px 0px rgba(130,130,130,1),
    -16px 16px 0px 0px rgba(120,120,120,1),
    -17px 17px 0px 0px rgba(110,110,110,1),
    -18px 18px 0px 0px rgba(110,110,110,1),
    -19px 19px 0px 0px rgba(100,100,100,1),
    -20px 20px 0px 0px rgba(100,100,100,1),
    -40px 40px 40px 0px rgba(0,0,0,.5);
    -webkit-transform:rotateX(60deg) rotateZ(-50deg);
       -moz-transform:rotateX(60deg) rotateZ(-50deg);
        -ms-transform:rotateX(60deg) rotateZ(-50deg);
         -o-transform:rotateX(60deg) rotateZ(-50deg);
            transform:rotateX(60deg) rotateZ(-50deg);
    -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;
         -o-transform-style:preserve-3d;
            transform-style:preserve-3d;
  }
  
  .circle:nth-child(2) {
    -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
        -o-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes back {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    
    20% {
      opacity: .5;
    }
    
    50% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
    
    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
  }
  
  @keyframes back {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
    
    20% {
      opacity: .5;
    }
    
    50% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
    
    100% {
      -webkit-transform: scale(2);
      transform: scale(2);
      opacity: 0;
    }
  }

  @media screen and (max-width: 54em) {
    .icon {
      box-shadow:
      -1px 1px 0px 0px rgba(200,200,200,1),
      -2px 2px 0px 0px rgba(190,190,190,1),
      -3px 3px 0px 0px rgba(180,180,180,1),
      -4px 4px 0px 0px rgba(170,170,170,1),
      -5px 5px 0px 0px rgba(160,160,160,1),
      -6px 6px 0px 0px rgba(150,150,150,1),
      -7px 7px 0px 0px rgba(140,140,140,1),
      -8px 8px 0px 0px rgba(130,130,130,1),
      -9px 9px 0px 0px rgba(120,120,120,1),
      -10px 10px 0px 0px rgba(110,110,110,1),
      -20px 20px 20px 0px rgba(0,0,0,.5);
      -webkit-transform:rotateX(60deg) rotateZ(-50deg);
         -moz-transform:rotateX(60deg) rotateZ(-50deg);
          -ms-transform:rotateX(60deg) rotateZ(-50deg);
           -o-transform:rotateX(60deg) rotateZ(-50deg);
              transform:rotateX(60deg) rotateZ(-50deg);
     -webkit-transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
         -ms-transform-style:preserve-3d;
          -o-transform-style:preserve-3d;
             transform-style:preserve-3d;
    }
  }
}