.colored {
  background-image: linear-gradient(-45deg, #35d678, #3291e0);
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.bg-light {
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.5);
}

.bg-light, .bg-transparent {
  transition: .5s all;
}

.bg-transparent {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  
  a {
    color: #fff;
  }
}

.footer {
  dt {
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  dd {
    font-weight: 300;
    margin: 0;
  }
}